<div class="container">
    <div class="page-title">
        <p>Characterdetails</p>
        <h1>{{character()?.name}}</h1>
    </div>

    <div class="item-details">
        <div class="item-info">
            <h2>Details:</h2>
            <p><strong>Größe:</strong> {{character()?.height}}</p>
            <p><strong>Gewicht:</strong> {{character()?.mass}}</p>
            <p><strong>Haarfarbe:</strong> {{character()?.hair_color }}</p>
            <p><strong>Augenfarbe:</strong> {{character()?.eye_color}}</p>
            <p><strong>Geburtsjahr:</strong> {{character()?.birth_year}}</p>
            <p><strong>Geschlecht:</strong> {{character()?.gender}}</p>
            <p><strong>Heimatplanet:</strong> <a href="#" class="tag">{{character()?.homeworld}}</a></p>

            <div class="related-items">
                <h3>Filme:</h3>
                <div class="tag-list">
                    <a href="#" class="tag">Luke Skywalker</a>
                    <a href="#" class="tag">C3-PO</a>
                    <a href="#" class="tag">R2D2</a>
                    <a href="#" class="tag">...</a>
                </div>
            </div>

            <div class="related-items">
                <h3>Raumschiffe:</h3>
                <div class="tag-list">
                    <a href="#" class="tag">Executor</a>
                    <a href="#" class="tag">Sentinel-class Landing craft</a>
                    <a href="#" class="tag">Death Star</a>
                    <a href="#" class="tag">...</a>
                </div>
            </div>

            <div class="related-items">
                <h3>Fahrzeuge:</h3>
                <div class="tag-list">
                    <a href="#" class="tag">Sand Crawler</a>
                    <a href="#" class="tag">Snowspeeder</a>
                    <a href="#" class="tag">AT-AT</a>
                    <a href="#" class="tag">...</a>
                </div>
            </div>
        </div>

        <app-image-slider [images]="['images/character1.jpg', 'images/character2.jpg']"></app-image-slider>

    </div>
</div>