<div class="container">

    @if (dataView$ | async; as data) {

    <div class="page-title">
        <h1>{{ data.title }}</h1>
    </div>

    <app-feedback [data]="data" (retry)="retry()"></app-feedback>

    <div class="items-grid">

        @for (item of data.items; track item.episode_id; let i = $index) {
        <div class="item-card">
            <img [src]="'images/film' + ((i % 2) + 1) + '.jpg'" alt="Film" class="item-thumbnail">
            <div class="item-info">
                <h3>{{ item.title }}</h3>
                <p>Director: {{ item.director }}</p>
                <p>Produzenten: {{ item.producer }}</p>
                <p>Erscheinungsdatum: {{ item.release_date | date : 'dd.MM.yyyy' }}</p>
                <span class="more-info" (click)="goToDetail(item)">Mehr Informationen...</span>
            </div>
        </div>
        }

    </div>
    }
</div>