<div class="container">

    @if (dataView$ | async; as data) {

    <div class="page-title">
        <h1>{{ data.title }}</h1>
    </div>

    <app-feedback [data]="data" (retry)="retry()"></app-feedback>
   
    <div class="items-grid">

        @for (item of data.items; track item.url; let i = $index) {
        <div class="item-card">
            <img [src]="'images/character' + ((i % 2) + 1) + '.jpg'" alt="Character" class="item-thumbnail">
            <div class="item-info">
                <h3>{{ item.name }}</h3>
                <p>Größe: {{ item.height }}</p>
                <p>Augenfarbe: {{ item.eye_color }}</p>
                <p>Geburtsjahr: {{ item.birth_year }}</p>
                <span class="more-info" (click)="goToDetail(item)">Mehr Informationen...</span>
            </div>
        </div>
        }

    </div>
    }
</div>