.add-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;

    @media (max-width: 576px) {
        padding: 12px;
    }
}