<div class="related-items">
    <h3>{{ title() }}:</h3>
    @if (dataView$() | async; as data) {
      <app-feedback [data]="data" (retry)="retry.emit()"></app-feedback>
      @if (!data.isLoading && !data.error && data.items.length) {
        <div class="tag-list">
          @if (!data.showAll) {
            @for (item of data.items | slice:0:3; track item) {
                <button class="tag" (click)="onItemClick(item)">
                  {{ isFilm(item) ? item.title : isCharacter(item) || isPlanet(item) ? item.name : '' }}
                </button>
              }
            @if (data.items.length > 3) {
              <button class="tag" (click)="toggleShowAll(data)">...</button>
            }
          } @else {
            @for (item of data.items; track item) {
                <button class="tag" (click)="onItemClick(item)">
                  {{ isFilm(item) ? item.title : isCharacter(item) || isPlanet(item) ? item.name : '' }}
                </button>
              }
          }
        </div>
      }
    }
</div>
