<div class="container">
    <div class="page-title">
        <h1>Filme</h1>
    </div>

    <div class="items-grid">

        <div class="item-card">
            <img src="images/film1.jpeg" alt="Film" class="item-thumbnail">
            <div class="item-info">
                <h3>Thumbnail label</h3>
                <p>Director: George Lucas</p>
                <p>Produzenten: Gary Kurtz, Rick McCallum</p>
                <p>Erscheinungsdatum: 25.05.1977</p>
                <a href="#" class="more-info">Mehr Informationen...</a>
            </div>
        </div>

        <div class="item-card">
            <img src="images/film2.jpg" alt="Film" class="item-thumbnail">
            <div class="item-info">
                <h3>Thumbnail label</h3>
                <p>Director: George Lucas</p>
                <p>Produzenten: Gary Kurtz, Rick McCallum</p>
                <p>Erscheinungsdatum: 25.05.1977</p>
                <a href="#" class="more-info">Mehr Informationen...</a>
            </div>
        </div>

        <div class="item-card">
            <img src="images/film3.jpg" alt="Film" class="item-thumbnail">
            <div class="item-info">
                <h3>Thumbnail label</h3>
                <p>Director: George Lucas</p>
                <p>Produzenten: Gary Kurtz, Rick McCallum</p>
                <p>Erscheinungsdatum: 25.05.1977</p>
                <a href="#" class="more-info">Mehr Informationen...</a>
            </div>
        </div>

        <div class="item-card">
            <img src="images/sample2.jpg" alt="Film" class="item-thumbnail">
            <div class="item-info">
                <h3>Thumbnail label</h3>
                <p>Director: George Lucas</p>
                <p>Produzenten: Gary Kurtz, Rick McCallum</p>
                <p>Erscheinungsdatum: 25.05.1977</p>
                <a href="#" class="more-info">Mehr Informationen...</a>
            </div>
        </div>

        <div class="item-card">
            <img src="images/sample2.jpg" alt="Film" class="item-thumbnail">
            <div class="item-info">
                <h3>Thumbnail label</h3>
                <p>Director: George Lucas</p>
                <p>Produzenten: Gary Kurtz, Rick McCallum</p>
                <p>Erscheinungsdatum: 25.05.1977</p>
                <a href="#" class="more-info">Mehr Informationen...</a>
            </div>
        </div>

        <div class="item-card">
            <img src="images/sample2.jpg" alt="Film" class="item-thumbnail">
            <div class="item-info">
                <h3>Thumbnail label</h3>
                <p>Director: George Lucas</p>
                <p>Produzenten: Gary Kurtz, Rick McCallum</p>
                <p>Erscheinungsdatum: 25.05.1977</p>
                <a href="#" class="more-info">Mehr Informationen...</a>
            </div>
        </div>
    </div>
</div>