<div class="container">
    <div class="page-title">
        <p>Filmdetails</p>
        <h1>{{film()?.title}}</h1>
        <h2>Episode {{film()?.episode_id}}</h2>
    </div>

    <div class="item-details">
        <div class="item-info">
            <h2>Details:</h2>
            <p><strong>Director:</strong> {{film()?.director}}</p>
            <p><strong>Produzenten:</strong> {{film()?.producer}}</p>
            <p><strong>Erscheinungsdatum:</strong> {{film()?.release_date | date : 'dd.MM.yyyy' }}</p>

            <div class="film-description">
                <p>{{film()?.opening_crawl}}</p>
            </div>

            <app-related-items
                title="Charaktere"
                [dataView$]="charactersView$">
            </app-related-items>

            <div class="related-items">
                <h3>Planeten:</h3>
                <div class="tag-list">
                    <a href="#" class="tag">Arid</a>
                    <a href="#" class="tag">Tatooine</a>
                    <a href="#" class="tag">...</a>
                </div>
            </div>

            <div class="related-items">
                <h3>Raumschiffe:</h3>
                <div class="tag-list">
                    <a href="#" class="tag">Executor</a>
                    <a href="#" class="tag">Sentinel-class Landing craft</a>
                    <a href="#" class="tag">Death Star</a>
                    <a href="#" class="tag">...</a>
                </div>
            </div>

            <div class="related-items">
                <h3>Fahrzeuge:</h3>
                <div class="tag-list">
                    <a href="#" class="tag">Sand Crawler</a>
                    <a href="#" class="tag">Snowspeeder</a>
                    <a href="#" class="tag">AT-AT</a>
                    <a href="#" class="tag">...</a>
                </div>
            </div>
        </div>

        <app-image-slider [images]="['images/film1.jpg', 'images/film2.jpg']"></app-image-slider>

    </div>
</div>